/* PHASE 1: Header */

body {
  /* Write your css here... */
  background: #eee ;
  font-family: sans-serif;
}

.header {
  background: #f00; /* Red header */
  border-bottom: 1px solid #ccc;
  color: #fff;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px; 
  margin: 0 auto; 
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}