/* PHASE 4: Footer */

.footer {
    background: #fff;
    color: #aaa; 
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.footer-copy {
    float: left;
    padding: 20px;
}

.footer-links {
    float: right;
    padding: 20px;
}

.footer-links > li {
    float: left;
    margin-right: 10px;
}

.footer a {
    display: block;
}

.footer a:hover {
    color: #000;
}
